* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--very-light-gray);
}

#cards {
    display: flex;
}

.column {
    width: 18.75rem;
    height: 33.75rem;
    padding: 3.125rem;
}

#sedans {
    background-color: var(--bright-orange);
    border-radius: 3% 0 0 3%;
}

#suvs {
    background-color: var(--dark-cyan);
}

#suvs p, #luxury p {
    width: 13.125rem;
}

#luxury {
    background-color: var(--very-dark-cyan);
    border-radius: 0 3% 3% 0;
}

h1 {
    font-family: var(--big-shoulders-display);
    font-size: 2.5rem;
    color: var(--very-light-gray);
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

p {
    font-family: var(--lexend-deca);
    font-size: 0.9375rem;
    line-height: 1.75;
    color: var(--transparent-white);
    margin-bottom: 5.625rem;
}

button {
    font-family: var(--lexend-deca);
    font-size: 0.9375rem;
    background-color: var(--very-light-gray);
    padding: 0.625rem 1.25rem;
    border-radius: 1.75rem;
    border: 0.125rem solid var(--very-light-gray);
    transition: background-color 0.15s, color 0.15s, cursor 0.15s;
}

#sedans button {
    color: var(--bright-orange);
}

#sedans button:hover {
    background-color: var(--bright-orange);
    color: var(--very-light-gray);
    cursor: pointer;
}

#suvs button {
    color: var(--dark-cyan);
}

#suvs button:hover {
    background-color: var(--dark-cyan);
    color: var(--very-light-gray);
    cursor: pointer;
}


#luxury button {
    color: var(--very-dark-cyan);
}

#luxury button:hover {
    background-color: var(--very-dark-cyan);
    color: var(--very-light-gray);
    cursor: pointer;
}

@media only screen and (max-width: 23.5rem) {
    body {
        display: block;
        padding-top: 5.625rem;
    }

    .column {
        margin: auto;
        height: 28.125rem;
        padding: 2.5rem 3.125rem;
    }

    #sedans {
        border-radius: 3% 3% 0 0;
    }

    #luxury {
        border-radius: 0 0 3% 3%;
    }

    p {
        margin-bottom: 1.875rem;
    }
}

:root {
    /* Colour Variables */
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);

    /* Font Variables */
    --lexend-deca: 'Lexend Deca', sans-serif;
    --big-shoulders-display: 'Big Shoulders Display', cursive;
}
